<div class="well">

  <div class="row">
		<div class="col-xs-4">
			<%= image_tag issue.picture.url(:thumb) %>
		</div>
    <div class="col-xs-4">
      <h4><%= issue.title %></h4>
			<p><%= issue.mark %></p>
			<p><%= issue.date %></p>
    </div>
    <div class="col-xs-4">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency issue.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="">
            <%= f.hidden_field :issue_id, value: issue.id %>
            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>