<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @issue.date %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @issue.mark %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Picture:</strong>
 <td><%= image_tag @issue.picture.url(:big) %></td>
</p>

<p>
  <strong>Volume:</strong>
  <%= @issue.volume %>
</p>

<p>
  <strong>Price:</strong>
  <%= @issue.price %>
</p>
<%= link_to 'Back', issues_path %>
